.detail{
 

    background-color: transparent;
    background-image: radial-gradient(at center right,#3b5cd641 17%,#4268f000 86%);
    transition: background .3s,border-radius .3s,opacity .3s;
}

.detail-bg{

   
        background-color: transparent;
        background-image: radial-gradient(at center right,#3b5cd641 17%,#4268f000 86%);
        transition: background .3s,border-radius .3s,opacity .3s;

}
